/* 全体の基本スタイル */
html {
  font-family: 'Noto Sans JP', sans-serif;

.pop {font-family: 'Poppins', sans-serif;}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* ヘッダー */
header {
  padding: 27px 0;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
}
.logo span {
  color: #419aee;
}
.header_menu li {
  margin-left: 40px;
}
.header_menu li a {
  transition: .3s;
}
.header_menu li a:hover {
  color: #419aee;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  header .container {
    justify-content: center;
  }
  .header_menu li {
    margin-left: 40px;
    margin: 20px 16px 0;
  }
}


/* メイン */
#hero {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 540px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  overflow: hidden;
}
#hero::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1;
}
.hero_inner {
  z-index: 2;
  color: #0b174a;
  width: 100%;
  text-align: center;
}
.hero_inner p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.hero_inner h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  #hero {
    height: 460px;
  }
  .hero_inner p {font-size: 15px;}
  .hero_inner h1 {font-size: 17px;}
}


/* 自分の信念 */
#philosophy {
  margin-bottom: 120px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  color: #419aee;
  margin-bottom: 40px;
}
#philosophy h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}
.column-2 {
  width: 48%;
}
.text {
  line-height: 2;
}
.philosophy-img {
  background-image: url(../images/philosophy.jpg);
  background-position: center;
  background-size: cover;
  height: 340px;
  border-radius: 20px;
}
.heading {
  font-family: 'Dancing Script', cursive;
  font-size: 200px;
  font-weight: 700;
  color: #419aee;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-30%);
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  #philosophy h3 {
    font-size: 24px;
    line-height: 1.5;
  }
  .column-2 {
    width: 100%;
  }
  .text {
    font-size: 15px;
    line-height: 1.7;
  }
  .philosophy-img {margin-top: 30px;}

  .heading {
    font-size: 130px;
  }

  .hobby_shogi {
    transform: translateY(170%);
    /* color: #ffffff; */
    /* transform: translate(-20%, 180%); */
  }

  .hobby_video {
    transform: translateY(170%);
    color: #ffffff;
    /* transform: translate(-20%, 170%); */
  }

  .hobby_game {
    transform: translateY(210%);
    color: #ffffff;
    /* transform: translate(-20%, 210%); */
  }

}


/* 趣味 */
#hobby {
  margin-bottom: 120px;
}
.hobby_inner {
  margin-bottom: 40px;
  position: relative;
}
.column-40 {
  width: 40%;
}
.column-55 {
  width: 55%;
}
#hobby img {
  border-radius: 20px;
}
#hobby iframe {
  border-radius: 20px;
}
#hobby h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .column-40 {
    width: 100%;
    margin-bottom: 30px;
  }
  .column-55 {
    width: 100%;
  }

  #hobby iframe {
    border-radius: 20px;
    width: 100%;
  }
  #hobby h3 {font-size: 17px;}
}

/* 基本情報 */
#about {
  margin-bottom: 120px;
}
#about dl {
  max-width: 900px;
  margin-left: auto;
}
#about dt {
  width: 30%;
  padding: 48px 0;
  font-weight: 500;
  border-bottom: solid 1px #98c0e6;
}
#about dd {
  width: 70%;
  padding: 48px 0;
  border-bottom: solid 1px #98c0e6;
}

@media only screen and (max-width: 768px) {
  #about dl {font-size: 13px;}
}


/* ボトム */
.column-a {
  background-image: url(../images/bottom1.jpg);
  background-position: center;
  background-size: cover;
  width: 22%;
  height: 270px;
  border-radius: 20px;
}
.column-b {
  background-image: url(../images/bottom2.jpg);
  background-position: center;
  background-size: cover;
  width: 26%;
  height: 270px;
  border-radius: 20px;
}
.column-c {
  background-image: url(../images/bottom3.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 270px;
  border-radius: 20px;
}
.column-d {
  background-image: url(../images/bottom4.jpg);
  background-position: center;
  background-size: cover;
  width: 26%;
  height: 270px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .column-a, .column-b, .column-c, .column-d {
    width: 48%;
    height: 140px;
    margin: 1%;
  }
}


/* フッター */
footer {
  text-align: center;
  margin: 90px 0;
}
.copyright {
  font-size: 12px;
  margin-top: 40px;
}




}