/* 全体の基本スタイル */
html {
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Noto Sans JP', sans-serif;
}

.pop {font-family: 'Poppins', sans-serif;}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* ヘッダー */
header {
  padding: 27px 0;
}
.logo {
  font-size: 24px;
  font-weight: 700px;
  letter-spacing: -0.04em;
}
.logo span {
  color: #80BA4A;
}
.header_menu li {
  margin-left: 40px;
}
.header_menu li a {
  transition: .3s;
}
.header_menu li a;:hover {
  color: #80BA4A;
  transition: .3s;
}

/*
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #4caf50;
  color: white;
  padding: 2em;
  text-align: center;
}

section {
  padding: 2em;
  margin: 1em auto;
  max-width: 800px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 2em;
  background: #eee;
}

/* 見出しのスタイル 
h1, h2 {
  margin-top: 0;
}
*/
